<header>
  <nav class="navbar">
    <div *ngIf="!(hamburguer$ | async)">
      <ul>
        <li>
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li *ngIf="isLogged$ | async">
          <a [routerLink]="['/funcionarios']">Funcionarios</a>
        </li>
        <li *ngIf="isLogged$ | async">
          <a [routerLink]="['/moradores']">Moradores</a>
        </li>
        <li *ngIf="isLogged$ | async">
          <a [routerLink]="['/areas-comum']">Areas Comum</a>
        </li>
      </ul>
    </div>
    <div *ngIf="!(hamburguer$ | async)">
      <ul *ngIf="!(isLogged$ | async)">
        <li>
          <a [routerLink]="['/login']">Login</a>
        </li>
      </ul>
      <div class="navbar__login__user">
        {{ (user$ | async)?.nome ? (user$ | async).nome : 'Usuário' }}
      </div>
    </div>
    <button *ngIf="(hamburguer$ | async)" (click)="open($event)">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

</header>