<header aria-hidden="true">
  <nav class="navbar">
    <div *ngIf="!(hamburguer$ | async)">
      <ul>
        <li role="link">
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li *ngIf="isLogged$ | async">
          <a [routerLink]="['/funcionarios']">Funcionarios</a>
        </li>
        <li *ngIf="isLogged$ | async">
          <a [routerLink]="['/moradores']">Moradores</a>
        </li>
        <li *ngIf="isLogged$ | async">
          <a [routerLink]="['/areas-comum']">Areas Comum</a>
        </li>
      </ul>
    </div>
    <div *ngIf="!(hamburguer$ | async)">
      <ul *ngIf="!(isLogged$ | async)">
        <li role="link">
          <a [routerLink]="['/login']">Login</a>
        </li>
      </ul>
      <div class="navbar__login__user">
        <span>
          {{ (user$ | async)?.nome ? (user$ | async).nome : 'Usuário' }}
        </span>
      </div>
    </div>
    <button *ngIf="(hamburguer$ | async)" (click)="openSideBar($event)" aria-label="clique aqui para abrir as opções de navegação">
      <i class="fas fa-bars"></i>
    </button>
  </nav>
</header>