@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.navbar {
    align-items: center;
    background-color: #a9a9a9;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    button {
        margin-left: 20px;
        height: 50px;
        padding: 0 15px;
        i {
            color: white;
            font-size: 1.5rem;
        }
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
    }

    ul {
        align-items: center;
        display: flex;
        height: 50px;
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 20px;
        li {
            height: 100%;
            &:first-of-type {
                a {
                    padding: 0;
                }
            }
            a {
                align-items: center;
                color: white;
                display: flex;
                font-weight: 500;
                height: 100%;
                justify-content: center;
                min-width: 100px;
                padding: 0 20px;
                text-transform: uppercase;
                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.1);
                }
            }
        }
    }

    &__login__user {
        align-items: center;
        color: white;
        display: flex;
        height: 25px;
        padding: 0 20px;
        border-left: white 2px solid;
    }
}
