<section class="menu" (click)="$event.stopPropagation()">
    <button aria-label="fechar modal" (click)="filter('sair')"><i class="fas fa-times"></i></button>
    <form [formGroup]="filterForm" role="form">
        <div *ngFor="let option of options">

            <label *ngIf="!option?.maxValue && !option?.minValue"
                for="{{option?.elementName}}">{{option?.elementNameTranslate}}</label>
            <label *ngIf="option?.inputType === 'range'"
                for="{{option?.elementName}}">{{option?.elementNameTranslate}}</label>

            <input *ngIf="option?.inputType === 'number' && (!option?.maxValue && !option?.minValue)"
                id="{{option?.elementName}}" type="{{option?.inputType}}" [formControlName]="option?.elementName">

            <!-- Essa label aparece se tiver valor máximo, usado em filtro de valor mínimo e máximo. -->
            <div *ngIf="option?.inputType === 'number' && option?.actualValue.length > 0" class="menu__min__max">
                <label for="{{option?.elementName}}-maxValue">unid. mín.</label>
                <input *ngIf="option?.inputType === 'number' && option?.maxValue" id="{{option?.elementName}}-maxValue"
                    [max]="option?.maxValue" type="{{option?.inputType}}" [formControlName]="option?.elementName+0"
                    (keypress)="allowNumbers($event)">
            </div>

            <div *ngIf="option?.inputType === 'number' && option?.actualValue.length > 0" class="menu__min__max">
                <!-- Essa label aparece se tiver valor mínimo, usado em filtro de valor mínimo e máximo. -->
                <label for="{{option?.elementName}}-minValue">unid. máx.</label>
                <input *ngIf="option?.inputType === 'number' && option?.minValue" id="{{option?.elementName}}-minValue"
                    [min]="option?.minValue" type="{{option?.inputType}}" [formControlName]="option?.elementName+1"
                    (keypress)="allowNumbers($event)">
            </div>

            <input *ngIf="option?.inputType === 'range'" id="{{option?.elementName}}" [min]="option?.minValue"
                [max]="option?.maxValue" type="{{option?.inputType}}" step="1" [formControlName]="option?.elementName">

            <input *ngIf="option?.inputType === 'checkbox'" id="{{option?.elementName}}" type="{{option?.inputType}}"
                [checked]="option?.actualValue" [formControlName]="option?.elementName"
                (change)="changeCheckbox($event)">


        </div>
    </form>
    <div class="menu__buttons">
        <button class="btn__default" type="button" (click)="filter('limpar')">Limpar filtro</button>
        <button class="btn__default" type="submit" (click)="filter('aplicar')">Aplicar filtro</button>
    </div>
</section>