@import "~@angular/material/theming";
@import "../colors.scss";
@import "../mixins.scss";

// Remove botão de aumentar/diminuir
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.menu {
    background-color: white;
    border-radius: 2px;
    margin-top: 45px;
    min-height: 75px;
    padding: 15px;
    position: absolute;
    right: 40px;
    width: 220px;
    z-index: 1;
    @include mat-elevation(8, #303030, 0.9);
    @include flex-box(center, flex-end);

    @media (max-width: 379px) {
        left: calc(50% - 125px);
    }

    &__min__max {
        width: calc(50% - 10px) !important;
        @include flex-box(center, flex-end);

        label {
            width: 100% !important;
        }
    }
    form {
        margin-top: 10px;
        @include flex-box(center, space-between);
    }
    div {
        width: 100%;
        @include flex-box(center, space-between);
        &:not(:last-child) {
            margin: 10px 0;
        }
        input[type="range"] {
            width: 100%;
            padding: 0;
        }
        input[type="number"] {
            width: 100%;
        }
        label {
            line-height: 25px;
            &::first-letter {
                text-transform: uppercase;
            }
            width: 50%;
        }
    }
    &__buttons {
        button {
            border: none;
            margin-top: 10px;
            width: calc(50% - 7.5px);

            &:first-of-type {
                @include btn__color__theme($white, $main-theme-color-orange1);
            }
            &:last-of-type {
                @include btn__color__theme($white, $main-theme-color-green);
            }
        }
    }
    // botão após o div
    // primeiro child do botão
    > button {
        clear: both;
        color: $error-color;
        float: right;
        margin-bottom: -8px;
    }
}
