<section class="menu" (click)="$event.stopPropagation()">
    <button aria-label="fechar modal" (click)="close.emit(false)"><i class="fas fa-times"></i></button>
    <div *ngFor="let option of options">
        <label *ngIf="option?.inputType !== 'checkbox'"
            for="input__{{option?.elementName}}">{{ option?.elementNameTranslate ? option?.elementNameTranslate : option?.elementName }}
            {{ option?.values && option?.inputType === 'checkbox' ? option?.values: '' }}</label>
        <input *ngIf="option?.inputType === 'range'" id="input__{{option?.elementName}}" 
            [min]="option.values.min" [max]="option.values.max" type="{{option?.inputType}}" step="10" (change)="change($event)">
        <label *ngIf="option?.inputType === 'checkbox'"
            for="input__{{option?.elementName}}__{{option?.values?.value}}">{{ option?.elementNameTranslate ? option?.elementNameTranslate : option?.elementName }}
            {{ option?.values?.value && option?.inputType === 'checkbox' ? option?.values?.value: '' }}</label>
        <input *ngIf="option?.inputType === 'checkbox'" id="input__{{option?.elementName}}__{{option?.values.value}}"
        type="{{option?.inputType}}" [checked]="option?.values?.actual" (change)="change($event)">
    </div>
    <button class="btn__default" (click)="filter()">Aplicar filtro</button>
</section>