@import "../colors.scss";

.toast {
    border-radius: 5px;
    background-color: black;
    padding: 5px 7.5px;
    width: 200px;
    position: absolute;
    margin: 0;
    min-height: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    top: 52.5px;
    left: calc(100% - 220px);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);

    span {
        width: 100%;
        color: white;
        font-family: "roboto-medium" !important;
    }

    button {
        color: white;
        height: 15px;
        padding: 0;
        border: none;
        background-color: transparent;
        outline: transparent;
    }

    &__warning {
        background-color: $warning-color;
    }
    &__error {
        background-color: $error-color;
    }
    &__success {
        background-color: $success-color;
    }

    &__animation {
        // pega o keyframe com o devido nome
        animation-name: toastanimation;
        // duração da animação
        animation-duration: 5s;
        // quantidade de vezes que vai fazer isso
        animation-iteration-count: 1;
    }
}

@keyframes toastanimation {
    0% {
        top: 65px;
        opacity: 0;
    }
    20% {
        top: 52.5px;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
