@import "../shared/mixins.scss";
@import "../shared/colors.scss";

div {
    display: flex;
    .form {
        margin: auto;
        &__inputs {
            display: inline-grid;
            label {
                margin-bottom: 5px;
            }
            input {
                width: unset;
                margin-bottom: 15px;
            }
        }
        &__buttons {
            display: flex;
            justify-content: space-between;
            @include form-buttons();
        }
        div {
            width: 100%;
        }
    }
}
