@import "../shared/mixins.scss";
@import "../shared/colors.scss";

div {
    display: flex;
    .form {
        margin: auto;
        &__inputs {
            display: inline-grid;
            label {
                margin-bottom: 5px;
            }
            input {
                width: unset;
                margin-bottom: 15px;
            }
        }
        &__buttons {
            display: flex;
            justify-content: space-between;
            button {
                width: 90px;
                &:first-child {
                    @include btn__color__theme($main-theme-color-orange1, $white);
                    @include btn__color__theme__hover($white, $main-theme-color-orange1);
                    width: 80px;
                    margin-right: 10px;
                }
                &:last-child {
                    @include btn__color__submit($main-theme-color-green, $white);
                }
            }
        }
        div {
            width: 100%;
        }
    }
}
