$error-color: #c82333;
$success-color: #28a745;
$warning-color: #ff941a;
$main-theme-color-orange1: #ff822e;
$main-theme-color-orange2: #ffbf94;
$disabled-color: #a7a7a7;
$main-theme-color-green: #a2d400;
$letter-color: #363636;
$white: #fff;
