@import "./colors.scss";

@mixin btn__color__theme($primary, $secondary) {
    border-color: $primary;
    color: $primary;
    background-color: $secondary;
    i {
        color: $primary;
    }
}

@mixin btn__color__theme__hover($primary, $secondary) {
    &:hover {
        color: $primary;
        background-color: $secondary;
        i {
            color: $primary;
        }
    }
}

@mixin btn__color__submit($primary, $secondary) {
    border-color: $primary;
    background-color: $primary;
    color: $secondary;
    i {
        color: $secondary;
    }
}

@mixin flex-box($vertical: unset, $horizontal: unset) {
    align-items: $vertical;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: $horizontal;
}

@mixin form-buttons() {
    button {
        width: 90px;
        &:first-child {
            @include btn__color__theme($main-theme-color-orange1, $white);
            @include btn__color__theme__hover($white, $main-theme-color-orange1);
            width: 80px;
            margin-right: 10px;
        }
        &:last-child {
            @include btn__color__submit($main-theme-color-green, $white);
        }
    }
}
