<table class="table">
    <thead>
      <tr>
        <th>nome</th>
        <th>cpf</th>
        <th>tel</th>
        <th>cel</th>
        <th>bloco</th>
        <th>apto</th>
        <th>...</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let morador of (morador$ | async), let i = index ">
        <td>{{ morador?.nome }}</td>
        <td>{{ morador?.cpf }}</td>
        <td>{{ morador?.tel }}</td>
        <td>{{ morador?.cel }}</td>
        <td>{{ morador?.bloco }}</td>
        <td>{{ morador?.unidade }}</td>
        <td>
          <button (click)="buttonAction('update', i)" class="edit"><span>editar</span><i class="fas fa-edit"></i></button>
          <button (click)="buttonAction('remove', i)" [disabled]="(option$ | async) === 'updateForm'"><span>excluir</span><i class="fas fa-trash"></i></button></td>
      </tr>
    </tbody>
  </table>