@import "../../shared/colors.scss";
.table {
    margin: 15px auto;
    width: 100%;
    border-spacing: 0;
  
    thead {
      tr {
        height: 25px;
        th {
          text-align: center;
          padding: 7.5px;
          font-size: 14px;
          text-transform: uppercase;
          width: calc(25% - 5px);
          border: 1.5px solid;
          &:last-of-type() {
            width: 30px;
          }
        }
      }
    }
  
    tbody {
      tr {
        height: 25px;
        td {
          padding: 7.5px;
          font-size: 14px;
          text-align: center;
          width: calc(25% - 5px);
          border: 1.5px solid;
          border-top: none;
          &:last-of-type() {
            width: 30px;
          }
          button {
            background-color: transparent;
            border: none;
            span {
              background-color: #494949;
              color: white;
              padding: 5px 10px;
              border-radius: 4px;
              margin-top: -5px;
            }
            &:first-child {
              color: $warning-color;
              span {
                margin-left: -60px;
              }
            }
            &:last-child {
              span {
                @media (min-width: 1006px) {
                  margin-left: 15px;
                }
                @media (min-width: 468px) and (max-width: 1005px) {
                  margin-top: -30px;
                  right: 20px;
                }
                @media (max-width: 467px) { 
                  margin-left: -65px;
                }
              }
              &:disabled {
                color: $disabled-color;
                span {
                  display: none;
                }
              }
              color: $error-color;
            }
            span {
              visibility: hidden;
              position: absolute;
            }
            &:hover {
              span {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
  