<section role="main">
  <div class="banner">
    <h1>Moradores</h1>
    <div class="header__content"
      [ngClass]="{'header__content__empty__table': !(moradores$ | async)?.length && moradores?.length > 0 }">
      <div>
        <label for="sua_busca" aria-label="digite sua busca aqui"></label>
        <input id="sua_busca" type="text" [disabled]="!(moradores$ | async)" (input)="searchInput$.next(searchInput.value)"
          placeholder="digite sua busca aqui..." aria-describedby="items__lista" #searchInput>
        <span id="items__lista" attr.aria-label="a lista contém {{ (moradores$ | async)?.length}} items"></span>
      </div>
      <div>
        <button class="btn__default" [disabled]="!(moradores$ | async)" aria-label="filtrar busca"
          (click)="openFilterMenu($event)">Filtrar<i class="fa fa-filter"></i></button>
        <app-menu *ngIf="openNavBar" [filterOptions]="filterOptions" (closeMenu)="openNavBar=$event" (filterValues)="filterTable($event)"></app-menu>
        <button class="btn__default btn__primary" (click)="newMorador()">Novo Morador<i
            class="fas fa-user-plus"></i></button>
      </div>
    </div>
  </div>
  <mat-progress-bar color="accent" [mode]="progressBar?.mode" [value]="progressBar?.value">
  </mat-progress-bar>
  <table class="table" [ngClass]="{ 'table__empty' : !(moradores$ | async) }">
    <thead [attr.disabled]="!(moradores$ | async)">
      <tr [ngClass]="{ 'table__th__disabled' : !(moradores$ | async) }">
        <th *ngFor="let th of thead, let i = index">{{th?.name}}<button *ngIf="i !== 7 && (moradores$ | async)"
            [ngStyle]="{'opacity': th.arrowType !== 'fa-circle' ? '1' : null}" (click)="onMoradorSort(th)">
            <i class="fa {{th.arrowType}}" [ngStyle]="{'font-size': th.arrowType === 'fa-circle' ? '12px' : '14px' }"
              aria-hidden="true"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="(moradores$ | async)">
      <tr *ngFor="let morador of (moradores$ | async), let i = index ">
        <td>{{ morador?.personal?.name }}</td>
        <td>{{ morador?.personal?.age }}</td>
        <td>{{ morador?.personal?.cpf | mask: '000.000.000-00'}}</td>
        <td>{{ morador?.personal?.tel ? (morador?.personal?.tel | mask: '(00) 0000-0000') : 'N/A' }}</td>
        <td>{{ morador?.personal?.cel ? (morador?.personal?.cel| mask: '(00) 90000-0000') : 'N/A' }}</td>
        <td>{{ morador?.condominium?.block }}</td>
        <td>{{ morador?.condominium?.unit }}</td>
        <td>
          <button (click)="downloadAsPDF(morador)"
            attr.aria-label="exportar para o pdf os dados do morador {{morador?.name}}"><i class="far fa-file-pdf"
              aria-hidden="true"></i></button>
          <button (click)="editMorador(morador, i)" attr.aria-label="editar morador {{morador?.name}}"><i class="fas fa-edit"
              aria-hidden="true"></i></button>
          <button (click)="deleteMorador(i, morador.id)" attr.aria-label="remover morador {{morador?.name}}"><i
              class="fas fa-trash" aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
    <div *ngIf="(moradores$ | async)?.length < 1">
      <i class="fa fa-list" aria-hidden="true"></i>
      <span role="alert">Nenhum morador encontrado...</span>
    </div>
  </table>
</section>