@import "~@angular/material/theming";
@import "../shared/colors.scss";
@import "../shared/mixins.scss";

section {
  @include mat-elevation(8, #303030, 0.9);

  .banner {
    @include display-flex();
    min-height: 100px;
    padding: 20px;

    button {
      @include btn__color__theme($main-theme-color-green, $white);
      @include btn__color__theme__hover($white, $main-theme-color-green);

      &:first-child {
        margin-right: 10px;
        width: 90px;
      }

      &:last-child {
        width: 150px;
      }

      i {
        font-size: 1.1rem;
        margin-left: 5px;
      }
    }

    .header__content {
      @include display-flex(flex-end, space-between);
      width: 100%;

      div {
        &:first-child {
          width: 250px;
          input {
            border: 0px;
            border-bottom: 2px solid;
            border-color: $main-theme-color-green;
            border-radius: unset;
            box-sizing: border-box;
            padding-left: 0;
            width: 100%;
            &::placeholder {
              color: $main-theme-color-green;
              font-size: 14px;
            }
            &:focus {
              &::placeholder {
                color: transparent;
              }
            }
            &:disabled {
              background-color: transparent;
              border-color: $unfocus-color;
              &::placeholder {
                color: $unfocus-color;
              }
            }
          }
        }

        &:last-child {
          @include display-flex();
          justify-content: flex-end;
          width: calc(100% - 275px);

          @media (max-width: 604px) {
            margin-top: 20px;
          }

          @media (min-width: 380px) and (max-width: 604px) {
            button {
              &:first-child {
                width: 33%;
              }
              &:last-child {
                width: calc(67% - 10px);
              }
            }
          }

          @media (max-width: 379px) {
            button {
              margin: 0;
              width: 100%;
              &:last-child {
                margin-top: 10px;
              }
            }
          }
        }

        @media (max-width: 604px) {
          margin-top: 15px;
          width: 100% !important;
        }
      }
    }

    h1 {
      font-weight: 600;
      margin: 0;
      letter-spacing: 0.7px;
      width: 100%;
    }
  }
}

.table {
  border-spacing: 0;
  display: block;
  overflow: auto;

  &__empty {
    @media (max-width: 964px) {
      height: 450px;
    }
  }

  // Estilos Compartilhados
  tbody,
  thead {
    display: table;
    width: 100%;

    tr {
      display: flex;
      td,
      th {
        font-size: 14px;
        padding: 7.5px;

        &:first-child {
          min-width: 250px;
        }

        &:last-child {
          padding-right: 20px;
          max-width: 125px;
          min-width: 125px;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          max-width: 200px;
          min-width: 125px;
        }

        &:nth-child(6) {
          max-width: 100px;
          min-width: 100px;
        }
      }
    }
  }

  &__th__disabled {
    th {
      color: $disabled-color !important;
    }
  }

  tbody tr,
  thead tr th {
    &:hover {
      color: $main-theme-color-orange1;
      button {
        color: $main-theme-color-orange1;
      }
    }
  }

  // Estilos Particulares

  div {
    align-content: center;
    color: $unfocus-color;
    height: 400px;
    margin: 0 auto;
    max-width: 310px;
    width: 100%;
    @include display-flex(center, center);

    @media (max-width: 964px) {
      height: 393.5px;
      position: absolute;
    }

    @media (min-width: 400px) and (max-width: 964px) {
      left: calc(50% - 155px);
    }

    @media (max-width: 399px) {
      max-width: 250px;
      left: calc(50% - 125px);
    }

    i {
      font-size: 8rem;
      height: 125px;
    }

    span {
      font-size: 1.3rem;
      font-weight: 600;
      letter-spacing: 0.5px;
      margin-top: 10px;
      text-align: center;
      width: 100%;
    }
  }

  tbody {
    padding-bottom: 30px;

    tr {
      height: 35px;

      &:nth-child(even) {
        background: $white;
      }

      &:nth-child(odd) {
        background: #eee;
      }

      td {
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        width: 100%;
        white-space: nowrap;

        button {
          background-color: transparent;
          border: none;

          &:first-child {
            color: $wine;
          }

          &:nth-child(2) {
            color: $warning-color;
          }

          &:last-child {
            color: $error-color;

            &:disabled {
              color: $disabled-color;
            }
          }
        }

        &:first-child {
          padding-left: 20px;

          @media (max-width: 964px) {
            text-align: left;
          }

          @media (min-width: 1360px) {
            text-align: left;
          }
        }
      }
    }
  }

  thead {
    tr {
      th {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 50px;
        justify-content: center;
        text-transform: uppercase;
        width: 100%;

        i {
          margin-left: 10px;
        }

        button {
          opacity: 0;
        }

        &:hover {
          button {
            opacity: 1;
          }
        }
      }
    }
  }
}

mat-progress-bar {
  height: 7.5px;
}
