@import "~@angular/material/theming";
@import "../shared/colors.scss";

section {
  @include mat-elevation(8, #303030, 0.9);
  .banner {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 100px;

    div {
      &:first-child {
        height: 100%;
      }
      display: flex;
      flex-wrap: wrap;
      h1 {
        font-weight: 600;
        margin: 0;
        width: 100%;
      }
      input {
        width: 100%;
        border-radius: unset;
        border: 0px;
        border-bottom: 2px solid;
        padding-left: 0;
      }
      &:last-child {
        margin-top: 15px;
      }
    }

    button {
      flex-wrap: wrap;
      display: flex;
      align-content: center;
      &:first-child {
        width: 95px;
        margin-right: 10px;
        background-color: $white;
        color: $main-theme-color;
        border: 1px solid $main-theme-color;
        i {
          color: $main-theme-color;
        }
      }
      color: $white;
      width: 150px;
      height: 35px;
      background-color: $success-color;
      border-radius: 2px;
      i {
        margin-left: 5px;
        font-size: 1.1rem;
        color: $white;
      }
    }
  }
}

.table {
  border-spacing: 0;
  display: block;
  overflow: auto;

  // Estilos Compartilhados
  tbody,
  thead {
    display: table;
    width: 100%;

    tr {
      display: flex;

      td,
      th {
        font-size: 14px;
        padding: 7.5px;

        &:first-child {
          min-width: 250px;
        }

        &:last-child {
          padding-right: 20px;
          max-width: 75px;
          min-width: 75px;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          max-width: 200px;
          min-width: 125px;
        }

        &:nth-child(6) {
          max-width: 100px;
          min-width: 100px;
        }
      }
    }
  }

  tbody tr,
  thead tr th {
    &:hover {
      font-weight: 600;
      color: $main-theme-color;
      button {
        color: $main-theme-color;
      }
    }
  }

  // Estilos Particulares

  tbody {
    padding-bottom: 30px;

    tr {
      height: 35px;

      &:nth-child(even) {
        background: $white;
      }

      &:nth-child(odd) {
        background: #eee;
      }

      td {
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        width: 100%;
        white-space: nowrap;

        button {
          background-color: transparent;
          border: none;

          &:first-child {
            color: $warning-color;
          }

          &:last-child {
            color: $error-color;

            &:disabled {
              color: $disabled-color;
            }
          }
        }

        &:first-child {
          padding-left: 20px;

          @media (max-width: 964px) {
            text-align: left;
          }

          @media (min-width: 1360px) {
            text-align: left;
          }
        }
      }
    }
  }

  thead {
    tr {
      th {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 50px;
        justify-content: center;
        text-transform: uppercase;
        width: 100%;

        i {
          margin-left: 10px;
        }

        button {
          opacity: 0;
        }

        &:hover {
          button {
            opacity: 1;
          }
        }
      }
    }
  }
}

mat-progress-bar {
  height: 7.5px;
}
