<section>
  <div class="banner">
    <h1>Moradores</h1>
    <div class="header__content" [ngClass]="{'header__content__empty__table': !(morador$ | async)?.length && morador?.length > 0 }">
      <div>
        <input type="text" aria-label="digite a sua busca aqui" [disabled]="!(morador$ | async)" (input)="inputValue$.next(searchInput.value)"
          placeholder="digite sua busca aqui..."
          #searchInput>
      </div>
      <div>
        <button class="btn__default" [disabled]="!(morador$ | async)" aria-label="filtrar busca">Filtrar<i class="fa fa-filter"></i></button>
        <button class="btn__default btn__primary" (click)="action()">Novo Morador<i
            class="fas fa-user-plus"></i></button>
      </div>
    </div>
  </div>
  <mat-progress-bar color="accent" [mode]="(progressBar$ | async)?.mode" [value]="(progressBar$ | async)?.value">
  </mat-progress-bar>
  <table class="table" [ngClass]="{ 'table__empty' : !(morador$ | async) }">
    <thead [attr.disabled]="!(morador$ | async)">
      <tr [ngClass]="{ 'table__th__disabled' : !(morador$ | async) }">
        <th *ngFor="let th of thead, let i = index">{{th?.name}}<button *ngIf="i !== 6 && (morador$ | async)"
            [ngStyle]="{'opacity': th.arrowType !== 'fa-circle' ? '1' : null}" (click)="onSort(th)">
            <i class="fa {{th.arrowType}}" [ngStyle]="{'font-size': th.arrowType === 'fa-circle' ? '12px' : '14px' }"
              aria-hidden="true"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="(morador$ | async)">
      <tr *ngFor="let morador of (morador$ | async), let i = index ">
        <td>{{ morador?.personal?.name }}</td>
        <td>{{ morador?.personal?.cpf | mask: '000.000.000-00'}}</td>
        <td>{{ morador?.personal?.tel ? (morador?.personal?.tel | mask: '(00) 0000-0000') : 'N/A' }}</td>
        <td>{{ morador?.personal?.cel ? (morador?.personal?.cel| mask: '(00) 90000-0000') : 'N/A' }}</td>
        <td>{{ morador?.condominium?.block }}</td>
        <td>{{ morador?.condominium?.unit }}</td>
        <td>
          <button (click)="downloadAsPDF(morador)" attr.aria-label="exportar para o pdf os dados do morador {{morador?.name}}"><i class="far fa-file-pdf" aria-hidden="true"></i></button>
          <button (click)="action(morador, i)" attr.aria-label="editar morador {{morador?.name}}"><i class="fas fa-edit" aria-hidden="true"></i></button>
          <button (click)="remove(i, morador.id)" attr.aria-label="remover morador {{morador?.name}}"><i class="fas fa-trash" aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
    <div *ngIf="(morador$ | async)?.length < 1">
      <i class="fa fa-list" aria-hidden="true"></i>
      <span role="alert">Nenhum morador encontrado...</span>
    </div>
  </table>
</section>
