body {
    margin: 0;
    display: block;
    justify-content: center;
}
a,
button {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
    &:disabled {
        &:hover {
            cursor: default;
        }
    }
}

p,
tr,
tbody,
thead,
ul,
ol,
label,
a,
button {
    font-family: "roboto-medium" !important;
}
h1,
h2,
h3 {
    font-family: "roboto-medium" !important;
}
td,
th,
input {
    font-family: "roboto-regular" !important;
}

.spinner-msg {
    margin-top: 40px;
    color: white;
}
