// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-project-primary: mat-palette($mat-indigo);
$angular-project-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-project-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-project-theme: mat-light-theme($angular-project-primary, $angular-project-accent, $angular-project-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-project-theme);

@import "app/shared/colors.scss";

body {
    margin: 0;
    display: block;
    justify-content: center;
}
a,
button {
    text-decoration: none !important;
    outline: none;
    &:hover {
        cursor: pointer;
    }
    &:disabled {
        &:hover {
            cursor: default;
        }
    }
    background-color: transparent;
    border: none;
}

.btn__default {
    height: 35px;
    display: flex;
    justify-content: center;
    align-content: center;
    outline: none;
    align-items: center;
    border: 1px solid;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    &:active {
        box-shadow: none;
    }
    &:disabled {
        background-color: $disabled-color !important;
        color: $white;
        border-color: $disabled-color !important;
    }
}

input,
select {
    padding: 10px 10px;
    border-radius: 4px;
    border: 2px solid #ccc;
    outline: none;
    height: unset !important;
    width: unset;
    &:focus {
        border-color: $main-theme-color-green !important;
        box-shadow: none !important;
    }
}

p,
tr,
tbody,
thead,
ul,
ol,
label,
a,
h1,
h2,
h3,
button {
    font-family: "roboto-medium" !important;
}

input {
    font-family: "roboto-regular" !important;
}

p,
tr,
h1,
h2,
h3 {
    color: $letter-color;
}

.spinner-msg {
    margin-top: 40px;
    color: $white;
}

html,
body {
    height: 100%;
}

.mat-progress-bar-fill::after {
    background-color: $main-theme-color-orange1 !important;
}

.mat-progress-bar.mat-accent .mat-progress-bar-buffer {
    background-color: $main-theme-color-orange2;
}

.mat-dialog-container {
    padding: 0 !important;
}

::-webkit-scrollbar-track {
    background-color: $white;
}
::-webkit-scrollbar {
    background: #F4F4F4;
    border-bottom: 1px solid #eee; 
    border-top: 1px solid #eee;
    height: 7.5px;
    width: 7.5px;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
