<div class="close__area">
    <button (click)="endModal()" aria-label="fechar modal"><i class="fas fa-times"></i></button>
</div>
<section class="section__main" role="main">
    <form [formGroup]="moradorForm$ | async" class="form" #myForm="ngForm" role="form" (ngSubmit)="endModal()">
        <section formGroupName="personal" aria-describedby="dados_pessoais" class="form__personal" tabindex="0" role="group">

            <h2 id="dados_pessoais"aria-label="Nesta seção,
                 você poderá cadastrar os dados pessoais do morador,
                 tais como: foto, nome, data de nascimento, cpf, rg,
                 estado civil, telefone, celular e email respectivamente.">
                Dados pessoais</h2>
            <div style="display: flex;">
                <input id="photo" type="file" class="form__personal__image" formControlName="photo" accept="image/*"
                    (change)="getInputFile($event)" role="document">
                <div class="form__personal__image__fake">
                    <i *ngIf="!image" class="fas fa-plus"></i>
                    <label *ngIf="!image" for="photo" aria-label="clique e escolha a imagem do morador">Imagem do Morador</label>
                    <img *ngIf="image" src="{{image}}" alt="">
                </div>
            </div>

            <div class="form__personal__group1">
                <div class="form__control form__personal__name">
                    <label for="name">nome</label>
                    <input id="name" type="text" formControlName="name" #nameInput>
                    <span role="alert">erro</span>
                </div>
                <div class="form__control form__personal__date">
                    <label for="born">data de nascimento</label>
                    <input id="born" type="date">
                    <span roler="alert">erro</span>
                </div>
                <div class="form__control form__personal__cpf">
                    <label for="cpf">cpf</label>
                    <input id="cpf" type="text">
                    <span roler="alert">erro</span>
                </div>
                <div class="form__control form__personal__rg">
                    <label for="rg">rg</label>
                    <input id="rg" type="text">
                    <span roler="alert">erro</span>
                </div>
                <div class="form__control form__personal__civil">
                    <label for="civil">estado civil</label>
                    <select name="civil" id="civil">
                        <option value="solteiro">solteiro(a)</option>
                        <option value="casado">casado(a)</option>
                        <option value="divorciado">divorciado(a)</option>
                        <option value="viuvo">viúvo(a)</option>
                    </select>
                    <span roler="alert">erro</span>
                </div>
            </div>

            <div class="form__personal__group2">
                <div class="form__control form__personal__tel">
                    <label for="tel">telefone</label>
                    <input id="tel" type="tel">
                    <span roler="alert">erro</span>
                </div>
                <div class="form__control form__personal__cel">
                    <label for="cel">celular</label>
                    <input id="cel" type="tel">
                    <span roler="alert">erro</span>
                </div>
                <div class="form__control form__personal__email">
                    <label for="email">email</label>
                    <input id="email" type="email">
                    <span roler="alert">erro</span>
                </div>
            </div>
        </section>

        <section formGroupName="profesional" aria-describedby="dados_profisionais" class="form__profesional" role="group">
            <h2 id="dados_profisionais"
                aria-label="Nesta seção,
            você poderá cadastrar os dados profissionais do morador, tais como: profissão e salário respectivamente.">
                Dados profisionais</h2>
            <div class="form__control">
                <label for="profession">Profissão</label>
                <input id="profession" type="text" formControlName="profession">
                <span roler="alert">erro</span>
            </div>
            <div class="form__control">
                <label for="salary">Salário</label>
                <input id="salary" type="text" formControlName="salary">
                <span roler="alert">erro</span>
            </div>
        </section>

        <section formGroupName="condominium" aria-describedby="dados_comdominio" class="form__condominium" role="group">
            <h2 id="dados_comdominio"
                aria-label="Nesta seção,
            você poderá cadastrar os dados da unidade do morador, tais como: Bloco e Unidade respectivamente.">
                Dados da Unidade</h2>
            <div class="form__control">
                <label for="block">Bloco</label>
                <input id="block" type="text" formControlName="block">
                <span roler="alert">erro</span>
            </div>
            <div class="form__control">
                <label for="unit">Unidade</label>
                <input id="unit" type="text" formControlName="unit">
                <span roler="alert">erro</span>
            </div>
        </section>

        <section formGroupName="familiar" aria-describedby="dados_familiar" class="form__familiar" role="group">
            <h2 id="dados_familiar"
                aria-label="Nesta seção,
            você poderá cadastrar os dados familiares do morador, tais como: Conjuge e Dependentes respectivamente.">
                Dados Familiar</h2>
            <div class="form__control">
                <label for="wife">Conjuge</label>
                <input id="wife" type="text" formControlName="wife">
                <span roler="alert">erro</span>
            </div>
            <div class="form__control">
                <label for="children">Dependentes</label>
                <input id="children" type="text" formControlName="children">
                <span roler="alert">erro</span>
            </div>
        </section>

        <div class="form__buttons">
            <button type="button" class="btn__default" (click)="cleanForm()">Cancelar</button>
            <button type="submit" class="btn__default" [disabled]="(moradorForm$ | async).invalid" aria-label="submeter">Enviar</button>
        </div>
    </form>
</section>