<section>
    <button (click)="endModal()"><i class="fas fa-times"></i></button>
    <form [formGroup]="moradorForm$ | async" #myForm="ngForm" (ngSubmit)="endModal()">
        <div formGroupName="morador" class="morador">
            <div>
                <label for="nome">nome</label>
                <input id="nome" type="text" formControlName="nome" #nameInput>
                <span>erro</span>
            </div>
            <div>
                <label for="nascimento">data de nascimento</label>
                <input id="nascimento" type="date">
                <span>erro</span>
            </div>
            <div>
                <label for="prof">profissão</label>
                <input id="prof" type="text">
                <span>erro</span>
            </div>
            <div>
                <label for="" id="civil">estado civil</label>
                <select name="" id="civil">
                    <option value="solteiro">solteiro(a)</option>
                    <option value="casado">casado(a)</option>
                    <option value="divorciado">divorciado(a)</option>
                    <option value="viuvo">viúvo(a)</option>
                </select>
                <span>erro</span>
            </div>
            <div>
                <label for="cpf">cpf</label>
                <input id="cpf" type="text">
                <span>erro</span>
            </div>
            <div>
                <label for="rg">rg</label>
                <input id="rg" type="text">
                <span>erro</span>
            </div>
            <div>
                <label for="tel">telefone</label>
                <input id="tel" type="tel">
                <span>erro</span>
            </div>
            <div>
                <label for="cel">celular</label>
                <input id="cel" type="tel">
                <span>erro</span>
            </div>
            <div>
                <label for="email">email</label>
                <input id="email" type="email">
                <span>erro</span>
            </div>
            <div>
                <div style="margin-right:20px">
                    <label for="bloco">bloco</label>
                    <input id="bloco" type="text">
                    <span>erro</span>
                </div>
                <div>
                    <label for="unidade">apartamento</label>
                    <input id="unidade" type="text">
                    <span>erro</span>
                </div>
            </div>
            <div>
                <button type="button" (click)="cleanForm()">Cancelar</button>
                <button type="submit" [disabled]="(moradorForm$ | async).invalid">Enviar</button>
            </div>
        </div>
    </form>
</section>