<div class="close__area">
    <button (click)="endModal()" aria-label="fechar modal"><i class="fas fa-times"></i></button>
</div>
<section class="section__main" role="main">
    <form [formGroup]="moradorForm$ | async" class="form" #myForm="ngForm" role="form" (ngSubmit)="endModal(true)">
        <section formGroupName="personal" aria-describedby="dados_pessoais" class="form__personal" tabindex="0"
            role="group">

            <h2 id="dados_pessoais" aria-label="Nesta seção,
                 você poderá cadastrar os dados pessoais do morador,
                 tais como: foto, nome, data de nascimento, cpf, rg,
                 estado civil, telefone, celular e email respectivamente.">
                Dados pessoais</h2>
            <div style="display: flex;">
                <input *ngIf="!image" id="photo" type="file" class="form__personal__image" formControlName="photo"
                    accept="image/*" (change)="getInputFile($event)" role="document" #fileInput>
                <div class="form__personal__image__fake" [ngStyle]="{'margin-left': image ? '0' : null }">
                    <i *ngIf="!image && !showPhotoSpinner" class="fas fa-plus"></i>
                    <label *ngIf="!image && !showPhotoSpinner" for="photo" attr.aria-label="{{labelPhoto}}">Imagem do
                        Morador</label>
                    <img *ngIf="image && !showPhotoSpinner" src="{{image}}" tabindex="0" attr.aria-label="Imagem de {{morador?.personal?.name}}" alt="Imagem de {{morador?.personal?.name}}">
                    <mat-spinner *ngIf="showPhotoSpinner"></mat-spinner>
                </div>
            </div>

            <div class="form__personal__group1">
                <div class="form__control form__personal__name">
                    <label for="name">nome</label>
                    <input id="name" type="text" formControlName="name" #nameInput>
                    <span role="alert">erro</span>
                </div>
                <div class="form__control form__personal__date">
                    <label for="bornDate">data de nascimento</label>
                    <input id="bornDate" type="date" maxLength="8" formControlName="bornDate">
                    <span roler="alert">erro</span>
                </div>
                <div class="form__control form__personal__cpf">
                    <label for="cpf">cpf</label>
                    <input id="cpf" type="text" mask="000.000.000-00" [dropSpecialCharacters]="true" formControlName="cpf">
                    <span roler="alert">erro</span>
                </div>
                <div class="form__control form__personal__rg">
                    <label for="rg">rg</label>
                    <input id="rg" type="text" formControlName="rg">
                    <span roler="alert">erro</span>
                </div>
                <div class="form__control form__personal__civil">
                    <label for="civilStatus">estado civil</label>
                    <select name="civilStatus" id="civilStatus" #civilStatus formControlName="civilStatus"
                        (change)="civilStateChange(civilStatus.value)">
                        <option value="solteiro(a)">solteiro(a)</option>
                        <option value="casado(a)">casado(a)</option>
                        <option value="divorciado(a)">divorciado(a)</option>
                        <option value="viuvo(a)">viúvo(a)</option>
                    </select>
                    <span roler="alert">erro</span>
                </div>
            </div>

            <div class="form__personal__group2">
                <div class="form__control form__personal__tel">
                    <label for="tel">telefone</label>
                    <input id="tel" type="tel" mask="(00) 0000-0000" formControlName="tel">
                    <span roler="alert">erro</span>
                </div>
                <div class="form__control form__personal__cel">
                    <label for="cel">celular</label>
                    <input id="cel" type="tel" mask="(00) 00000-0000" formControlName="cel">
                    <span roler="alert">erro</span>
                </div>
                <div class="form__control form__personal__email">
                    <label for="email">email</label>
                    <input id="email" type="email" formControlName="email">
                    <span roler="alert">erro</span>
                </div>
            </div>
        </section>

        <section formGroupName="professional" aria-describedby="dados_profisionais" class="form__profesional"
            role="group">
            <h2 id="dados_profisionais" aria-label="Nesta seção,
            você poderá cadastrar os dados profissionais do morador, tais como: profissão e salário respectivamente.">
                Dados profisionais</h2>
            <div class="form__control">
                <label for="profession">Profissão</label>
                <input id="profession" type="text" formControlName="profession">
                <span roler="alert">erro</span>
            </div>
            <div class="form__control">
                <label for="salary">Salário</label>
                <input id="salary" mask="separator.2" thousandSeparator="." prefix="R$ " type="text" formControlName="salary">
                <span roler="alert">erro</span>
            </div>
        </section>

        <section formGroupName="condominium" aria-describedby="dados_comdominio" class="form__condominium" role="group">
            <h2 id="dados_comdominio" aria-label="Nesta seção,
            você poderá cadastrar os dados da unidade do morador, tais como: Bloco e Unidade respectivamente.">
                Dados da Unidade</h2>
            <div class="form__control">
                <label for="block">Bloco</label>
                <input id="block" type="text" formControlName="block">
                <span roler="alert">erro</span>
            </div>
            <div class="form__control">
                <label for="unit">Unidade</label>
                <input id="unit" type="number" formControlName="unit" min="0" (keypress)="allowNumbers($event)">
                <span roler="alert">erro</span>
            </div>
        </section>

        <section formGroupName="familiar" aria-describedby="dados_familiar" class="form__familiar" role="group">
            <h2 id="dados_familiar" aria-label="Nesta seção,
            você poderá cadastrar os dados familiares do morador, tais como: Conjuge e Dependentes respectivamente.">
                Dados Familiar</h2>
            <div class="form__control">
                <label for="partner">Conjuge</label>
                <input id="partner" type="text" formControlName="partner">
                <span roler="alert">erro</span>
            </div>
            <div class="form__control">
                <label for="dependents">Dependentes</label>
                <input id="dependents" type="text" formControlName="dependents">
                <span roler="alert">erro</span>
            </div>
        </section>

        <div class="form__buttons">
            <button type="button" class="btn__default" #btnClean
                (click)="cleanForm(btnClean.innerHTML)">{{ morador?.id ? 'Cancelar' : 'Limpar'}}</button>
            <button type="submit" class="btn__default" [disabled]="(moradorForm$ | async).invalid"
                aria-label="salvar registro">Enviar</button>
        </div>
    </form>
</section>